.bgImage {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url(../../images/Photo/Rectangle\ 28.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  background-attachment: fixed;
  z-index: -1;
}
h1 {
  text-align: center;
  color: white;
  padding: 50px;
}
